/*
	Eduardo Nacimiento García
	http://www.eduardonacimiento.com
*/

body {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
	font-size:13px; 
	color: #333333;
	background-color: #333333;
	background-image: url('/images/background.png');
	background-position: center 120px;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
}

#contenido  {
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
}



#centro {
	margin: 0 auto;
	margin-top: 120px;
/*	margin-bottom: 120px;*/
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px;
	width: 800px;
	height: 490px;
	padding: 20px;
	background-color: lightgray;
	-moz-transition-duration: 5s;
	-webkit-transition-duration: 5s;
	-o-transition-duration: 5s;
	transition-duration: 5s;
	opacity: 0.7;
}

#centro:hover {
	-moz-transition-duration: 5s;
	-webkit-transition-duration: 5s;
	-o-transition-duration: 5s;
	transition-duration: 5s;
	opacity: 0.9;
}




input#tinyull_submit {
	color: #832c6a;
	font-weight: bold;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	padding: 5px 5px 5px 5px;
}


#formulario {
	margin-top: 200px;
	text-align: center;
}


#listado {
	height: 250px; 
	width: 500px;
	text-align: center;
	margin-left: 300px;
	overflow: auto; 
	padding: 8px;
}

h1 {
	font-size: 13px;
	Padding-left: 10px;
}

h2 {
	font-size: 12px;
}


.pie {
	font-size: 11px;
	position: relative;
	text-align: center;
	color: lightgray;
}

.pie>a {
	text-decoration: none;
	color: lightgray;
}
