
<div id="formulario">
<% form_for(@tinyull) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :longurl %>
  </p>
  <p>
    <%= f.submit 'Crear enlace corto' %>
  </p>
<% end %>

<h2>Sólo URLs de la Universidad de La Laguna</h2>

</div>
