<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">

<html lang="es-ES">
<head>    
<%= stylesheet_link_tag 'style' %>

  
<title>Universidad de La Laguna - TinyULL</title></head>

<body>


<div id="centro"> 
  <div id="contenido"> 
    <div id="logo">
	<a href="http://t.ull.es" target=""><img src="/images/tinyull.png" alt="TinyULL" width="200" border="0" title="" /></a></div>
    <div> 
      <h1>Servicio de enlaces cortos<br />
      </h1>
      <div>
          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
      </div>
    </div>
  </div>
</div>
<p class="pie">	Desarrollado por la <a href="http://osl.ull.es">Oficina de Software Libre de la Universidad de la Laguna</a>
<br />
Licenciado bajo <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>, se puede <a href="http://gitorious.org/mencey/tinyull">descargar libremente</a></p>


</body>
</html>
